<html><head><title>Results</title>
<style>
th {max-width: 10em}
.r1 {background-color: #bbffbb}
% (1-relegated..0).each { |k|
.r<%=size+k%> {background-color: #ffbbbb}
% }
small {font-size: x-small}
.hilite {background-color: #ffff88}
</style>
<script src="/rjp/jquery.js" type="text/javascript"></script>
</head>
<body>
<table border='1'>
<tr>
<th></th>
% rules.each {|ruleset|
    <th> <%= ruleset %> <br/><small><%= desc[ruleset] %></small></th>
% }
</tr>
% (1..size).each { |i|
<tr class='r<%= i %>'><td><%= i %></td>
%  table.collect {|j| j[i-1]}.each { |t,p| s=t.upcase.gsub(/[^A-Z]/,'')
%  short = t.gsub(/[aeiou]/,'').upcase.gsub(/[^A-Z]/,'').gsub(/(.)\1\1(.)/,"\1\1\2")[0..2]
    <td class='<%= s %>'> <%= t %> <small>(<%=p%>) <%=short%></small></td>
%  }
</tr>
% }
</table>
<script>
$('td').click(function() {
        var set = $(this).hasClass('hilite');
        $('td').removeClass('hilite');
        if (set) { return; }
        $('td.'+$(this).attr('class')).addClass('hilite');
});
</script>
</body></html>
